* {
    margin: 0;
    padding: 0;
    font-family: "Avenir";
}


body {
    background-color: #dff2fd;
}

footer {
    background-color: white;

}
header {
    background-color: white
}

.logo {
    max-width: 13rem;
}

.sample {
    max-width: 90vw;
}
.picture {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-left: 5vw;
    margin-top: 20px;
}

.article2 h1{
    font-size: 25px;
    color: black;
}

.social-icon img{
    max-width: 2.7rem;
    padding: 1rem
}


.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-color: #dff2fd;
    color: black;
    border-color: #dff2fd;
}

 .collab {
    text-align: center;
}

.newsletter {
    text-align: center;
    padding-bottom: 30px;
}
.newsletter h2 {
    margin-left: 0;
    padding-bottom: 20px;
    font-weight: 500;
}
.social-icons-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 15px;
}


.logo {
	font-family: inherit;
	font-size: 1.5em;
	margin-left: 0em;
  }


.navbar {
    font-size: 24px;
}
.menu {
    list-style-type: none;
}
.nav-links,
.logo1 {
    text-decoration: none;
    color: black;
}
.menu li {
    text-align: center;
    margin: 15px auto;
    font-weight: 500;
}
.logo1 {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}
.menu {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}
.navbar-toggle {
    width: 45px;
    align-self: center;
    cursor: pointer;
    color: black;
}

.icon-bar {
    height: 4px;
    width: 80%;
    background: black;
    margin: 5px 0;
    display: block;
    border-radius: 2px;
}

@media only screen and (min-width : 768px) {

	.wrap {
		padding-left: 1em;
		padding-right: 1em;
	}


    .sample {
    max-width: 30vw;
}

    footer dl {
    float: none;
    margin: 30px 0 50px;
    text-align: center;
    }

    .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "one-area two-area third-area";
}

.social-icons-footer {
    grid-area: one-area;
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.newsletter {
    grid-area: two-area;
    text-align: center;
}

  .collab {
    grid-area: third-area;
    text-align: center;
    padding-top: 40px;
}
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .menu {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .menu li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: #dff2fd;
    }

}

